<ion-header>
  <ion-toolbar>
    <ion-title>Sign In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sign In</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Nombre de Usuario</ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre y Apellido</ion-label>
        <ion-input [(ngModel)]="fullName"></ion-input>
      </ion-item>

      <mat-form-field>
        <mat-label>Fecha Nacimiento</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" maxlength="4" [(ngModel)]="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Repetir Password</ion-label>
        <ion-input type="password" maxlength="4" [(ngModel)]="confirmPassword"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="enviar()">Enviar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


