<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>SkeletonAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SkeletonAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class=" ion-text-center">

    <ion-card>
      <ion-card-title>
        <h3>Bienvenidos</h3>
      </ion-card-title>
      <ion-card-content>

        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" maxlenght="8" minlength="3" [(ngModel)]="usuario"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="Password" maxlenght="4" [(ngModel)]="usuario" ></ion-input>
        </ion-item>

    </ion-card-content>
    
    <ion-button expand="block" (click)="login()">Ingresar</ion-button> 
 
  </ion-card>
 
  </div>


</ion-content>
